*,
*::after,
*::before {
}

a {
  
}

.page {
  height: 100%;
  width: 1280px;
}

.page-body {
  margin: 0;
  font-family: sans-serif;
  
}

.page-nav {
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.page-menu {
  margin: 0;
  text-align: center;
  padding: 25.5px 330px 25.5px 330px;
}

.page-menu-item-1 {
  display: inline-block;
  margin-right: 36px;
}
.page-menu-item-2 {
  display: inline-block;
  margin-right: 36px;
  margin-left: 36px;
}
.page-menu-item-3 {
  display: inline-block;
  margin-left: 14px;
}

.page-menu-link {
  color: rgb(250, 4, 4);
  font-variant: small-caps;
  font-weight: 700;
  font-size: 18px;
  padding: 6px 6px;
  C
}

.page-photo {
 
 background-image: url(../css/img/photo.jpg);
 padding: 517px 20px 128px 160px;
}


.page-main-title {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.3px;
  margin-left: 253px;
  margin-right: 253px;
  margin-top: 48px;
  color: #373737;
  margin-bottom: 38px;
  
}
.page-main-text {

font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
margin-left: 67.5px;
margin-right: 67.5px;
color: #373737;
}
.page-button {
text-align: center;
margin-top: 66px;
}
.page-button-link {
 font-size: 12px;
line-height: 12px;
text-align: center;
background-color: rgb(255, 0, 0);
padding: 18px 43.5px 17px 42.5px;
color: #ffffff ;
text-transform: uppercase;
letter-spacing: 1.8px;
}


.page-footer {
  margin-top: 40px;
  margin-left: 713px;
  font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
font-weight: bold;

}